# 지니 Top200 차트

In [2]:
import requests
import pandas as pd
from bs4 import BeautifulSoup

### 1. 인터넷에서 데이터 가져오기

In [3]:
url = 'https://www.genie.co.kr/chart/top200'
req = requests.get(url)
req.text

'<br>\r\n<br>\r\n<center>\r\n<img src="http://www.geniemusic.co.kr/images/common/logo_r1.png"><br>\r\n<h2> <meta http-equiv="Content-Type" content="text/html;charset=UTF-8"> ì\xa0\x91ì\x86\x8dì\x9a\x94ì²\xadì\x9d´ ë³´ì\x95\x88ì\xa0\x95ì±\x85ì\x97\x90 ì\x9d\x98í\x95´ ì°¨ë\x8b¨ë\x90\x98ì\x97\x88ì\x8aµë\x8b\x88ë\x8b¤. ë\x8b¹ì\x82¬ ê³\xa0ê°\x9dì\x84¼í\x84°ë¡\x9c ë¬¸ì\x9d\x98í\x95´ì£¼ì\x8b\xadì\x8b\x9cì\x98¤.<br><br>\r\nThe security policy of the connection request is blocked. Contact your customer service representative.<br><br>\r\nì§\x80ë\x8b\x88ë®¤ì§\x81 ê³\xa0ê°\x9dì\x84¼í\x84° 1577-5337<br><br>\r\n</h2>\r\n</center>\r\n<br>'

In [4]:
# Chrome User-Agent
header = {'User-Agent': 'Mozilla/5.0 (Windows NT 10.0; Win64; x64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/100.0.4896.75 Safari/537.36'}
req = requests.get(url, headers=header)
soup = BeautifulSoup(req.text)

In [5]:
lis = soup.select('.list-wrap > tbody > tr')
len(lis)

50

- 순위, 제목, 가수, 앨범명

In [23]:
li=lis[12]

In [24]:
# 순위
try:
    number = int(li.select_one('.number').get_text().split('\n')[0])
except:
    number = 0
number

13

In [27]:
# 제목
title = li.select_one('.info > a.title.ellipsis').get_text().split('\n')[-1]
title

'                                                abcdefu'

In [22]:
# 가수
artist = li.select_one('.info > a.artist.ellipsis').text.strip()
artist

'임영웅'

In [19]:
# 앨범명
album = li.select_one('.info > a.albumtitle.ellipsis').text.strip()
album

'뽕숭아학당 PART23'

In [28]:
line = []
for li in lis:
    try:
        number = li.select_one('.number').get_text().split('\n')[0]
    except:
        number = 0
    title = li.select_one('.info > a.title.ellipsis').get_text().split('\n')[-1]
    artist = li.select_one('.info > a.artist.ellipsis').get_text()
    album = li.select_one('.info > a.albumtitle.ellipsis').get_text()
    line.append({'순위': number, '제목': title, '가수': artist, '앨범명': album})

In [29]:
df = pd.DataFrame(line)
df.head(3)

,순위,제목,가수,앨범명
0,1,...,BIGBANG (빅뱅),봄여름가을겨울 (Still Life)
1,2,...,IVE (아이브),LOVE DIVE
2,3,...,(여자)아이들,I NEVER DIE

In [30]:
df['제목'] = df['제목'].str.replace(' ','')
df.head(3)

  순위                  제목            가수                   앨범명
0  1  봄여름가을겨울(StillLife)  BIGBANG (빅뱅)  봄여름가을겨울 (Still Life)
1  2            LOVEDIVE     IVE (아이브)             LOVE DIVE
2  3              TOMBOY       (여자)아이들           I NEVER DIE

In [31]:
df.set_index('순위', inplace=True)
df.head(3)

                    제목            가수                   앨범명
순위
1   봄여름가을겨울(StillLife)  BIGBANG (빅뱅)  봄여름가을겨울 (Still Life)
2             LOVEDIVE     IVE (아이브)             LOVE DIVE
3               TOMBOY       (여자)아이들           I NEVER DIE

In [15]:
# 위에서 set_index 적용했으므로 index=False 생략
df.to_csv('지니차트(20110414)Top50.csv')

In [16]:
df2 = pd.read_csv('지니차트(20110414)Top50.csv', index_col='순위')
df2.head(3)

                    제목            가수                   앨범명
순위
1   봄여름가을겨울(StillLife)  BIGBANG (빅뱅)  봄여름가을겨울 (Still Life)
2             LOVEDIVE     IVE (아이브)             LOVE DIVE
3               TOMBOY       (여자)아이들           I NEVER DIE

### 모든 페이지에 대해 가져오기

In [32]:
line = []
for page in range(1,5):
    url = f'https://www.genie.co.kr/chart/top200?ditc=D&ymd=20220415&hh=10&rtm=Y&pg={page}'
    req = requests.get(url, headers=header)
    soup = BeautifulSoup(req.text, 'html.parser')
    lis = soup.select('.list-wrap > tbody > tr')


    for li in lis:
        try:
            number = li.select_one('.number').get_text().split('\n')[0]
        except:
            number = 0
        title = li.select_one('.info > a.title.ellipsis').get_text().split('\n')[-1]
        artist = li.select_one('.info > a.artist.ellipsis').get_text()
        album = li.select_one('.info > a.albumtitle.ellipsis').get_text()
        line.append({'순위': number, '제목': title, '가수': artist, '앨범명': album})

In [33]:
df = pd.DataFrame(line)
df.tail()

,순위,제목,가수,앨범명
195,196,...,BIGBANG (빅뱅),Stand Up (2008 빅뱅 3rd Mini Album)
196,197,...,BIGBANG (빅뱅),REMEMBER
197,198,...,NCT DREAM,Glitch Mode - The 2nd Album
198,199,...,스트레이 (The Stray),her
199,200,...,Sondia,나의 아저씨 OST Part. 2 (tvN 수목드라마)

In [35]:
df['제목'] = df['제목'].str.replace(' ','')
df.tail()

      순위            제목                가수                                앨범명
195  196          하루하루      BIGBANG (빅뱅)  Stand Up (2008 빅뱅 3rd Mini Album)
196  197          붉은노을      BIGBANG (빅뱅)                           REMEMBER
197  198  SaturdayDrip         NCT DREAM        Glitch Mode - The 2nd Album
198  199           너,너  스트레이 (The Stray)                                her
199  200            어른            Sondia     나의 아저씨 OST Part. 2 (tvN 수목드라마)

In [36]:
df.to_csv('지니차트Top200.csv', index=False)