# 평가문제 - 멜론차트 데이터 크롤링

### [문항 1] 멜론차트 Top100에서 순위, 제목, 가수, 앨범명울 크롤링하여 데이터프레임을 만들고 멜론차트Top100.csv 파일을 만드세요. (50점)

In [2]:
import requests, re
import pandas as pd
from bs4 import BeautifulSoup
from tqdm.notebook import tqdm

- 1.1. 데이터 가져오기 (10점)

In [3]:
url = 'https://www.melon.com/chart/index.htm'
req = requests.get(url)
req.text

''

In [4]:
# Chrome User-Agent
header = {'User-Agent': 'Mozilla/5.0 (Windows NT 10.0; Win64; x64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/100.0.4896.75 Safari/537.36'}
req = requests.get(url, headers=header)
# req.text
soup = BeautifulSoup(req.text, 'html.parser')

- 1-2. 원하는 데이터 찾기 (10점)

In [5]:
lis = soup.select('#frm > div > table > tbody > tr')
len(lis)

100

- 1-3. 하나를 선택해서 원하는 정보 추출하기 (10점) 
    - 순위, 제목, 가수, 앨범명

In [26]:
li=lis[0]

In [27]:
# 순위
try:
    rank = int(li.select_one('.rank').get_text())
except:
    rank = 0
rank

1

In [28]:
# 제목
if rank <= 50:
    title = li.select_one('#lst50 > td:nth-child(6) > div > div > div.ellipsis.rank01 > span > a').get_text().strip()
else:
    title = li.select_one('#lst100 > td:nth-child(6) > div > div > div.ellipsis.rank01 > span > a').get_text().strip()
title

'봄여름가을겨울 (Still Life)'

In [31]:
# 가수
artist = li.select_one('.ellipsis.rank02 > a').get_text().strip()
artist

'BIGBANG (빅뱅)'

In [10]:
# 앨범명
if rank <= 50:
    album = li.select_one('#lst50 > td:nth-child(7) > div > div > div > a').get_text().strip()
else:
    album = li.select_one('#lst100 > td:nth-child(7) > div > div > div > a').get_text().strip()
album

'너, 너 (N번째 연애 X 휘인 (Whee In))'

- 1-4. 반복문을 사용하여 페이지에 있는 데이터 가져오기 및 오류 수정하기 (10점)

In [11]:
line = []
for li in lis:
    try:
        rank = int(li.select_one('.rank').get_text())
    except:
        rank = 0
    if rank <= 50:
        title = li.select_one('#lst50 > td:nth-child(6) > div > div > div.ellipsis.rank01 > span > a').get_text().strip()
        artist = li.select_one('#lst50 > td:nth-child(6) > div > div > div.ellipsis.rank02 > a').get_text().strip()
        album = li.select_one('#lst50 > td:nth-child(7) > div > div > div > a').get_text().strip()
    else:
        title = li.select_one('#lst100 > td:nth-child(6) > div > div > div.ellipsis.rank01 > span > a').get_text().strip()
        artist = li.select_one('#lst100 > td:nth-child(6) > div > div > div.ellipsis.rank02 > a').get_text().strip()
        album = li.select_one('#lst100 > td:nth-child(7) > div > div > div > a').get_text().strip()
    line.append({'순위': rank, '제목': title, '가수': artist, '앨범명': album})

- 1-5. 데이터프레임으로 만들고 저장하기 (10점)

In [12]:
df = pd.DataFrame(line)
df.tail(3)

     순위                    제목            가수                   앨범명
97   98                 D-DAY  휘인 (Whee In)                 D-DAY
98   99                  언덕나무           이승윤    그 해 우리는 OST Part.7
99  100  Can't Control Myself  태연 (TAEYEON)  Can't Control Myself

In [13]:
df.to_csv('멜론차트Top100.csv', index=False)

### [문항 2] 멜론차트 일간, 장르종합에서 100곡의 순위, 제목, 가수, 앨범명을 크롤링하여 데이터프레임을 만들고 멜론차트일간.csv 파일을 만드세요. (50점)

- 2-1. 데이터 가져오기 (10점)

In [14]:
url2 = 'https://www.melon.com/chart/day/index.htm?classCd=GN0000'
req2 = requests.get(url2, headers=header)
# req2.text
soup2 = BeautifulSoup(req2.text, 'html.parser')

- 2-2. 원하는 데이터 찾기 (10점)

In [15]:
lis2 = soup2.select('#frm > div > table > tbody > tr')
len(lis2)

100

- 2-3. 하나를 선택해서 원하는 정보 추출하기 (10점)
    - 순위, 제목, 가수, 앨범명

In [16]:
li2=lis2[50]

In [17]:
# 순위
try:
    rank = int(li2.select_one('.rank').get_text())
except:
    rank = 0
rank

51

In [18]:
# 제목
if rank <= 50:
    title = li2.select_one('#lst50 > td:nth-child(6) > div > div > div.ellipsis.rank01 > span > a').get_text().strip()
else:
    title = li2.select_one('#lst100 > td:nth-child(6) > div > div > div.ellipsis.rank01 > span > a').get_text().strip()
title

'Celebrity'

In [19]:
# 가수
if rank <= 50:
    artist = li2.select_one('#lst50 > td:nth-child(6) > div > div > div.ellipsis.rank02 > a').get_text().strip()
else:
    artist = li2.select_one('#lst100 > td:nth-child(6) > div > div > div.ellipsis.rank02 > a').get_text().strip()
artist

'아이유'

In [20]:
# 앨범명
if rank <= 50:
    album = li2.select_one('#lst50 > td:nth-child(7) > div > div > div > a').get_text().strip()
else:
    album = li2.select_one('#lst100 > td:nth-child(7) > div > div > div > a').get_text().strip()
album

"IU 5th Album 'LILAC'"

- 2-4. 반복문을 사용하여 페이지에 있는 데이터 가져오기 및 오류 수정하기 (10점)

In [21]:
line2 = []
for li in lis2:
    try:
        rank = int(li.select_one('.rank').get_text())
    except:
        rank = 0
    if rank <= 50:
        title = li.select_one('#lst50 > td:nth-child(6) > div > div > div.ellipsis.rank01 > span > a').get_text().strip()
        artist = li.select_one('#lst50 > td:nth-child(6) > div > div > div.ellipsis.rank02 > a').get_text().strip()
        album = li.select_one('#lst50 > td:nth-child(7) > div > div > div > a').get_text().strip()
    else:
        title = li.select_one('#lst100 > td:nth-child(6) > div > div > div.ellipsis.rank01 > span > a').get_text().strip()
        artist = li.select_one('#lst100 > td:nth-child(6) > div > div > div.ellipsis.rank02 > a').get_text().strip()
        album = li.select_one('#lst100 > td:nth-child(7) > div > div > div > a').get_text().strip()
    line2.append({'순위': rank, '제목': title, '가수': artist, '앨범명': album})

- 2-5. 데이터프레임으로 만들고 저장하기 (10점)

In [22]:
df2 = pd.DataFrame(line2)
df2.tail(3)

,순위,제목,가수,앨범명
97,98,오늘도 빛나는 너에게 (To You My Light) (Feat.이라온),마크툽 (MAKTUB),Red Moon : To You My Light
98,99,O.O,NMIXX,AD MARE
99,100,북극성 (Never Goodbye),NCT DREAM,Glitch Mode - The 2nd Album

In [23]:
df2.to_csv('멜론차트일간.csv', index=False)