### Review

In [1]:
import numpy as np
import pandas as pd

In [3]:
pop = [9904312, 3448737, 2890451, 2466052]
pop[0], pop[1]

(9904312, 3448737)

In [4]:
metro = pd.Series(pop, index=['Seoul','Busan','Incheon','Daegu'])
metro

Seoul      9904312
Busan      3448737
Incheon    2890451
Daegu      2466052
dtype: int64

In [2]:
city = {'Seoul': 9631482, 'Busan':3393191, 'Incheon':2632035,'Daejeon':1490158}
metro2 = pd.Series(city)
metro2

Seoul      9631482
Busan      3393191
Incheon    2632035
Daejeon    1490158
dtype: int64

In [5]:
dm = metro-metro2
dm

Busan       55546.0
Daegu           NaN
Daejeon         NaN
Incheon    258416.0
Seoul      272830.0
dtype: float64

In [6]:
dm.isna()

Busan      False
Daegu       True
Daejeon     True
Incheon    False
Seoul      False
dtype: bool

In [7]:
dm.isnull()

Busan      False
Daegu       True
Daejeon     True
Incheon    False
Seoul      False
dtype: bool

In [11]:
dm.isna().sum(), metro.isnull().sum()

(2, 0)

In [12]:
dm.fillna(dm.mean())

Busan       55546.000000
Daegu      195597.333333
Daejeon    195597.333333
Incheon    258416.000000
Seoul      272830.000000
dtype: float64